<h1><%= @airline.name %></h1>

<h4>Passengers:</h4>
<ul>
  <% @airline.sorted_adult_passengers.each do |passenger| %>
  <li><b><%= passenger.name %></b></li>
  <ul>
    <li>Age: <%= passenger.age %></li>
    <li>Flight Count: <%= passenger.flight_count %></li>
  </ul>
  <% end %>
</ul>
